@font-face {
  font-family: "gt-super-text";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/gt-super-text/GTSuperText-Book.woff2") format("woff2"),
    url("/fonts/gt-super-text/GTSuperText-Book.woff") format("woff");
}
@font-face {
  font-family: "gt-super-text";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/gt-super-text/GTSuperText-Bold.woff2") format("woff2"),
    url("/fonts/gt-super-text/GTSuperText-Bold.woff") format("woff");
}
